<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       @Styles.Render("~/css")
        @Styles.Render("~/font")


        @*@Scripts.Render("~/bundles/modernizr")*@
    </head>

    <body>
        
        <div id="divHeaderWrapper">
            <!-- HEADER: Cover example - includes a full page header with with background and semi-opaque navigation with sticky navbar activated -->
            <header class="header-standard-2">
                <!-- MAIN NAV -->
                <!-- <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation"> -->
                <!-- <header class="header-alpha header-cover"> -->
                <!-- Top Header -->
                <!-- <div class="top-header">  -->
                <!--  <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <nav class="top-header-menu">
                                <ul class="top-menu">
                                    <li><a href="sign-in.html">Login</a></li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>-->

                <div class="navbar navbar-wp navbar-fixed mega-nav" data-spy="affix" data-offset-top="120" role="navigation">
                    <div class="container">
                        <div class="navbar-inner">
                            <div class="navbar-header text-sm-center">
                                <!-- Navbar brand -->
                                <a class="navbar-brand pull-left" href="index.html" title="Provision ISR">
                                    <img id="desktopLogo" src="images/Encabezado7C_.jpg" alt="Provision ISR">
                                    <img id="mobileLogo" src="images/Encabezado7C_.jpg" alt="Provision ISR">
                                </a>

                                <!-- Slide bar button -->
                                <button type="button" class="navbar-toggle navbar-toggle-aside-menu pull-right">
                                    <i class="fa fa-outdent icon-custom"></i>
                                </button>
                                <!-- Mobile menu button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <i class="fa fa-bars icon-custom"></i>
                                </button>

                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="hidden-md hidden-lg">
                                        <div class="bg-light-gray">
                                            <form class="form-horizontal form-light p-15" role="form">
                                                <div class="input-group input-group-lg">
                                                    <input type="text" class="form-control" placeholder="Quiero encontrar ...">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-white" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    
                                    
                                    <li class="dropdown ">
                                        @Html.ActionLink("Inicio", "Index", "Home")
                                        @*<ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="homepage-cover.html">Inicio</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                        </ul>*@
                                    </li>
                                    <li class="dropdown">
                                        <a href="#empresa" >Empresa</a>
                                        @*<ul class="dropdown-menu"></ul>*@
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Novedades</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marcas</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galeria</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="homepage-shop-1.html">Productos1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">@Html.ActionLink("Contactenos", "Contact", "Home")
                                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contactenos</a>*@
                                            
                                        @*<ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                            <li><a tabindex="-1" href="about-1.html">Menu1</a></li>
                                        </ul>*@
                                    </li>

                                    <li class="dropdown dropdown-aux animate-click hidden-xs" data-animate-in="animated bounceInUp" data-animate-out="animated fadeOutDown" style="z-index:500;">
                                        <a href="#" class="dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-user animate-wr">
                                            <li id="dropdownForm">
                                                <div class="dropdown-form">
                                                    <form class="form-horizontal form-light p-15" role="form">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Quiero encontrar ...">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-base" type="button">Buscar</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- <li class="dropdown-aux hidden-xs">
                                    <a href="#" id="cmdAsideMenu" class="dropdown-toggle dropdown-form-toggle" title="Open sidebar">
                                        <i class="fa fa-outdent"></i>
                                    </a>
                                </li> -->
                                </ul>

                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </header>
        </div>




        


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        
        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col">
                            <h4>Contáctenos</h4>
                            <ul>
                                <li>Dirección</li>
                                <li>Teléfono</li>
                                <li>Email: <a href="mailto:hola@ejemplo.com" title="Email Us">hola@ejemplo.com</a></li>
                                <li>Skype: <a href="skype:my.business?call" title="Skype us">cuenta de skype</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col">
                            <h4>Boletin Informativo</h4>
                            <p>Registrate si quieres recibir informaciones ocacionales sobre nosotros.</p>
                            <form class="form-horizontal form-light">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Tu Dirección de email...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-base" type="button">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col col-social-icons">
                            <h4>Síguenos</h4>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                        </div>
                    </div>

                    @*<div class="col-md-3">
                        <div class="col">
                            <h4>Sobre Nosotros</h4>
                            <p class="no-margin">
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
                                <br><br>

                            </p>
                        </div>
                    </div>*@
                </div>

                <hr>


            </div>
        </footer>


        @Scripts.Render("~/bundles/jquery")
     

        @Scripts.Render("~/bundles/ui")

        <script>
            jQuery("#layerslider").layerSlider({
                pauseOnHover: true,
                autoPlayVideos: false,
                //skinsPath: 'assets/layerslider/skins/',
                responsive: false,
                responsiveUnder: 1280,
                layersContainer: 1280,
                //skin: 'borderlessdark3d',
                hoverPrevNext: true,
            });
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
